<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe.mapshow.modules.company.dao.CompanyDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaohe.mapshow.modules.company.entity.Company">
        <id column="id" property="id"/>
        <result column="company_name" property="companyName"/>
        <result column="username" property="username"/>
        <result column="create_time" property="createTime"/>
        <result column="db_id" property="dbId"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
	        id, company_name AS companyName, username, create_time AS createTime, db_id AS dbId
    </sql>

    <insert id="addCompany" parameterType="com.xiaohe.mapshow.modules.company.entity.Company" useGeneratedKeys="true"
            keyProperty="id">
        insert into company(company_name,username,db_id) value (#{companyName},#{username},#{dbId})
    </insert>

</mapper>